.gradle/
build/
*.apk
*.aar
*.ap_
*.aab
*.jks
*.keystore

local.properties

.android/
*.iml
.idea/
*.iws
*.ipr

*.dex
*.class
.classpath
.project
.cproject
.c9/
*.launch
.settings/
*.sublime-workspace

out/
.vscode/
.DS_Store

.externalNativeBuild
.cxx/

google-services.json

freeline.py
freeline_project_description.json
freeline/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*
fastlane/test_output

.git/
.gitmodules

*.log
*.swp
*.swo
*~
.DS_Store
